.wrapper {
  width: 400px;
  height: 600px;
}

body {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.head {
  background-color: #000000;
  text-align: right;
  height: 75px;
  padding-right: 5px;
}

td {
  height: 100px;
  width: 24.5%;
  text-align: center;
}

table {
  width: inherit;
}

button {
  width: 100%;
  height: 100%;
  background-color: #d8d9db;
  font-size: 40px;
  border: 1px solid black;
  display: block;
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: #ebebeb;
}

button:active {
  background-color: #bbbcbe;
}

.function-btn {
  background-color: #df974c;
  color: #ffffff;
}

.function-btn:hover {
  background-color: #dfb07e;
}

.function-btn:active {
  background-color: #dd8d37;
}
